.tag{
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid;
}
.magenta{
  border-radius: 1px;
  border: 1px solid #f6add2;
  color: #f4a7d2;
  background: #fdf0f6;
}
.magentaBg{
  border-radius: 1px;
  background: #f6add2;
  color: white;
}
.red{
  color: #f5222d;
  background: #fff1f0;
  border: 1px solid #ffa39e;
  border-radius: 1px;
}
.redBg{
  color: white;
  background: #ffa39e;
  border-radius: 1px;
}
.volcano{
  border-radius: 1px;
  color: #fa541c;
  background: #fff2e8;
  border-color: #ffbb96;
}
.volcanoBg{
  color: white;
  background: #ffbb96;
  border-radius: 1px;
}
.orange{
  border-radius: 1px;
  color: #fa8c16;
  background: #fff7e6;
  border-color: #ffd591;
}
.orangeBg{
  color: white;
  background: #ffd591;
  border-radius: 1px;
}
.gold{
  border-radius: 1px;
  color: #faad14;
  background: #fffbe6;
  border-color: #ffe58f;
}
.goldBg{
  color: white;
  background: #ffe58f;
  border-radius: 1px;
}
.lime{
  border-radius: 1px;
  color: #a0d911;
  background: #fcffe6;
  border-color: #eaff8f;
}
.limeBg{
  color: white;
  background: #eaff8f;
  border-radius: 1px;
}
.green{
  border-radius: 1px;
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}
.greenBg{
  color: white;
  background: #b7eb8f;
  border-radius: 1px;
}
.cyan{
  border-radius: 1px;
  color: #13c2c2;
  background: #e6fffb;
  border-color: #87e8de;
}
.cyanBg{
  color: #fff;
  background: #87e8de;
  border-radius: 1px;
}
.blue{
  border-radius: 1px;
  color: #1890ff;
  background: #e6f7ff;
  border-color: #91d5ff;
}
.blueBg{
  color: #fff;
  background: #91d5ff;
  border-radius: 1px;
}
.geekblue{
  border-radius: 1px;
  color: #2f54eb;
  background: #f0f5ff;
  border-color: #adc6ff;
}
.geekblueBg{
  color: #fff;
  background: #adc6ff;
  border-radius: 1px;
}
.purple{
  border-radius: 1px;
  color: #722ed1;
  background: #f9f0ff;
  border-color: #d3adf7;
}
.purpleBg{
  color: #fff;
  background: #d3adf7;
  border-radius: 1px;
}
